<div class='row'>
  <div class='span8 offset2'>
    <table class='table table-bordered table-striped'>
      <tr>
        <td>Configurations</td>
        <td><%= LtiConfig.count %></td>
      </tr>
      <tr>
        <td>Courses Launched</td>
        <td><%= Context.all(:context_type => 'course').count %></td>
      </tr>
      <tr>
        <td>Users Launched</td>
        <td><%= Context.all(:context_type => 'user').count %></td>
      </tr>
      <tr>
        <td>Feeds Configured</td>
        <td><%= Feed.count %></td>
      </tr>
      <tr>
        <td>Posts Collected</td>
        <td><%= FeedEntry.count %></td>
      </tr>
    </table>
  </div>
</div>
