<div class="entry">
  <h3><a href="{{url}}" target="_blank" class='entry_link'>{{ title }}</a></h3>
  <div class='content'>
    <div class='author'>
      {{#if author_email}}
        <a href="mailto:{{author_email}}">{{ author_name }}</a>
      {{else}}
        {{ author_name }}
      {{/if}}
    </div>
    <div class='feed_name'>
      {{ feed_name }}
    </div>
    <div class="created">
      {{ created }}
    </div>
    <div class="clear"></div>
    {{{ short_html }}}
  </div>
</div>