<div id="feed_summary">
  {{#if filter }}
    <div class="filter">filtered {{entry_count}} entries by "{{ filter }}"</div>
  {{else}}
    <span class="posts">{{entry_count}} entries</span>
  {{/if}}
  <span class="last_checked">{{#if callback_enabled}}auto-update {{/if}}checked {{last_checked}}</span>
  <span class="links">
    <a href="#" id="refresh_feed">Refresh</a>&nbsp;&nbsp;
    <a href="{{ feed_url }}" target="_blank">Source</a>&nbsp;&nbsp;
    <a href="#" id="delete_feed">Delete</a>
  </span>
  <div id="add_to_feeds_holder">
    <button class='btn btn-primary' id='add_to_feeds'>Add to course feeds</button>
  </div>
</div>
